<html>
<form action="" method="">
    <% if (isAuth) {%>
        <h1><%= text %></h1>
    <% } else { %>
        <h1><%= text %></h1>
    <% } %>
    <a href="<%= url%>"><%= textButton %></a>
</form>
</html>