<html>
<h1>Computer</h1>
<ol>
  <% computers.forEach(function(computer, index){ %>
   <li><%= computer %><img width="160" height="150"src="image<%= index+1 %>.jpg"></li>
   <% }); %>
   </ol>
</html>